global
    log /dev/log local0

    daemon
    maxconn 256
    #stats socket /tmp/socket
    #server-state-file /tmp/server_state

    #user x
    group www-data

    # Default SSL material locations
    #ca-base /etc/ssl/certs
    #crt-base /etc/ssl/private

    #ssl-default-bind-ciphers ECDH+AESGCM:DH+AESGCM:ECDH+AES256:DH+AES256:ECDH+AES128:DH+AES:ECDH+3DES:DH+3DES:RSA+AESGCM:RSA+AES:RSA+3DES:!aNULL:!MD5:!DSS
    #ssl-default-bind-options no-sslv3
    #tune.ssl.default-dh-param 2048

defaults
    log global
    mode http
    option httplog
    option dontlognull
    timeout connect 1s
    timeout client 20s
    timeout server 30s
    balance roundrobin

frontend idp-http
    bind *:8080
    stats enable
    timeout http-request 10s
    timeout http-keep-alive 4s

    # Rewrite cookies to Samesite=None until https://github.com/pallets/werkzeug/pull/1550 is merged and released
    rspirep ^(set-cookie:.*)  \1;\ SameSite=None

    default_backend idp
    use_backend actions2 if { path_beg /services/actions }
    use_backend login if { path_beg /services/login }

backend idp
    server idp1 eduid_saml_idp_1:8080

backend login
    server login1 eduid_login_1:8080

backend actions2
    server actions2 eduid_actions2_1:8080

frontend LB-http
    bind *:9000
    default_backend LB

backend LB
    stats enable
    #stats hide-version
    stats uri /haproxy_stats
