*~
\#*
.*~
mongodb/data
redis/data
*/run
*/log
*.pyc
.*.swp
.*.swo
sources
sources.*
eduid-orcid/etc/oidc_client_creds.yaml
etcd/data/
py11softhsm/var/
raw_db_changes
vagrant.yml
.vagrant/
pki/*key
pki/*crt
pki/*pem
pki/*srl
pki/*csr
tmp
pypiserver/packages
.idea/
vccs/softhsm_tokens/*
.mypy_cache/
